<h1><%= params[:name] %></h1>
<% if !@gems.empty? %>
  <% if @gems.length == 50 %>
    <p>
      These are the 50 most downloaded gems that depend on <%= params[:name] %>.
    </p>
  <% end %>
  <ul>
    <% @gems.each do |gem| %>
      <li><a href="https://rubygems.org/gems/<%= gem[:name] %>"><%= gem[:name] %></a> (<%= gem[:downloads] %> downloads)</li>
    <% end %>
  </ul>
<% else %>
  <p>
    It seems like <%= params[:name] %> isn't depended on much.
  </p>
<% end %>
